NEXT_PUBLIC_PORTFOLIO_URL=https://www.jsainz.me

NEXT_PUBLIC_FACTORY_SOURCE=https://github.com/jsainz237/idswapp/blob/main/contracts/idswapp-factory.sol
NEXT_PUBLIC_ACCOUNT_SOURCE=https://github.com/jsainz237/idswapp/blob/main/contracts/idswapp-account.sol

ETHERSCAN_API_KEY=

NEXT_PUBLIC_FACTORY_ADDRESS_56=
NEXT_PUBLIC_FACTORY_ADDRESS_97=
NEXT_PUBLIC_FACTORY_ADDRESS_1337=

NEXT_PUBLIC_ACCOUNT_ADDRESS_56=
NEXT_PUBLIC_ACCOUNT_ADDRESS_97=
NEXT_PUBLIC_ACCOUNT_ADDRESS_1337=

NEXT_PUBLIC_ETHERSCAN_BASE_URL_56=https://bscscan.com
NEXT_PUBLIC_ETHERSCAN_BASE_URL_97=https://testnet.bscscan.com

PRIVATE_KEY_56=
PRIVATE_KEY_97=
PRIVATE_KEY_1337=
